html {
    background-color: #add8e6;
  }
  
  table {
    padding-top: 12%;
    margin:auto;
  }
  
  
  .outer{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 20%;
    margin-top: 30px;
  }
  
  .iconGear,
  .iconGear:before,
  .iconGear:after,
  .iconGear div:before{
    position: absolute;
    width: 4px;
    height: 20px;
    content: '';
    background-color: #aaa;
    border-radius: 1px;
    padding-left: 10%;
  }
  .iconGear{
    top: 5px;
    left: 13px;
  }
  .iconGear:before{
    top: 0;
    left: 0;
    transform: rotate(45deg);
  }
  .iconGear:after {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  .iconGear div:before{
    top: -2px;
    left: 6px;
    transform: rotate(90deg);
  }
  .iconGear div{
    position: absolute;
    top: 2px;
    left: -6px;
    width: 16px;
    height: 16px;
    background-color: #aaa;
    border-radius: 50%;
    z-index: 5;
  }
  .iconGear div:after {
    position: absolute;
    top: 4px;
    left: 4px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .logout {
    padding-left: 80%;
  }
  
  a{
    text-decoration: none;
  }
  
  